* {
  margin: 0;
  box-sizing: border-box;
}
.App {
  padding-left: 8rem;
  padding-right: 8rem;
}
.top {
  display: flex;
  justify-content: end;
  padding-top: 1rem;
  align-items: center;
}
.navs {
  display: flex;
  gap: 15px;
}
.navs a {
  text-decoration: none;
  color: black;
  font-size: 0.7rem;
}
.search {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
}
.search-icons {
  display: flex;
  gap: 2rem;
}
.search-icons a {
  color: black;
  font-size: 1rem;
}
.search-icons a:hover {
  color: orange;
  transition: 0.2s ease-in;
}
.search-input {
  display: flex;
  gap: 1rem;
}
.search-input input {
  height: 1.8rem;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
  border: none;
  outline: none;
  padding-left: 1rem;
}
.search-input button {
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.search-input button:hover {
  background-color: orange;
  transition: 0.2s ease-in;
}
.categories {
  display: flex;
  gap: 3rem;
  justify-content: center;
  gap: 5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.categories a {
  color: black;
  text-decoration: none;
}
.categories a:hover {
  text-decoration: underline orange;
  transition: 0.1 ease-in-out;
}
input {
  width: 30rem;
}
.products {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 3rem;
}
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 17rem;
}
.product-card img {
  width: 100px;
  height: 100px;
}